<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python39\python.exe|c:\python39\scripts\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DjangoApp" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="wsgi.py" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
